.itemCount{
    display: flex;
    align-items: center;
    width: 65%;
}

.itemCount .btnCounterPlus {
    border-radius: 10px;
    background-color: green;
    padding: 1px 11px;
    font-size: 26px;
}

.itemCount h2 {
    text-align: center;
}

.itemCount .btnCounterMinus {
    border-radius: 10px;
    background-color: red;
    /* height: 45px; */
    padding: 1px 13px;
    font-size: 25px;
}

.itemCount .btnAdd {
    background-color: rgb(31, 158, 201);
    border-radius: 10px;
    width: 250px;
    margin-left: 20px;
}